<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCyH5jJQn9yd0V2vzs0JmEQfUhAyVbvV7c</string>
	<key>GCM_SENDER_ID</key>
	<string>678409641031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.findlostapp.findLostApp</string>
	<key>PROJECT_ID</key>
	<string>lost-found-app-auth-3c17c</string>
	<key>STORAGE_BUCKET</key>
	<string>lost-found-app-auth-3c17c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678409641031:ios:519117cf722d7a9ff92562</string>
</dict>
</plist>